# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

Offline/Offline 01 (MST)/1905045.zip

Offline/Offline 01 (MST)/1905045/

Offline/Offline 01 (MST)/in.txt

Offline/Offline 02 (Single Source Shortest Path)/1905045.zip

Offline/Offline 02 (Single Source Shortest Path)/1905045/

Offline/Offline 03 (All Pair Shortest Path)/1905045.zip

Offline/Offline 03 (All Pair Shortest Path)/1905045/

*.zip

Offline/Offline 04 (Max Flow)/1905045/

Offline/Offline 05 (Fibonacci Heap)/valgrind testing/

Offline/Offline 05 (Fibonacci Heap)/testing/main-cses.cpp

Offline/Offline 05 (Fibonacci Heap)/testing/main-spoj.cpp

Offline/Offline 05 (Fibonacci Heap)/testing/main2.cpp

Offline/Offline 05 (Fibonacci Heap)/1905045/

Offline/Offline 05 (Fibonacci Heap)/eval/1905045/

Offline/Offline 06 (Red-Black Tree)/valgrind-testing/

Offline/Offline 06 (Red-Black Tree)/testing/

Offline/Offline 06 (Red-Black Tree)/1905045/

*.save

*.csv
